NLSH_GLOVE_25_PATH=../data/glove-25-angular.hdf5
NLSH_GLOVE_50_PATH=../data/glove-50-angular.hdf5
NLSH_GLOVE_100_PATH=../data/glove-100-angular.hdf5
NLSH_GLOVE_200_PATH=../data/glove-200-angular.hdf5
NLSH_SIFT_PATH=../data/sift-128-euclidean.hdf5
